{% extends 'base.html.twig' %}

{% block title %}VisitReport index{% endblock %}

{% block body %}
    <h1>VisitReport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contained</th>
                <th>Is_verified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visit_report in visit_reports %}
            <tr>
                <td>{{ visit_report.id }}</td>
                <td>{{ visit_report.contained }}</td>
                <td>{{ visit_report.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_visit_report_show', {'id': visit_report.id}) }}">show</a>
                    <a href="{{ path('app_visit_report_edit', {'id': visit_report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_visit_report_new') }}">Create new</a>
{% endblock %}
