{% extends 'base.html.twig' %}

{% block title %}Détails de l'entreprise{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-screen bg-gray-100 light:bg-gray-900">
    <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="text-2xl font-medium text-gray-900 dark:text-white text-center mb-6">Détails de l'entreprise</h5>

        <dl class="space-y-4">
            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">ID</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.id }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Nom</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.name }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Adresse</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.address }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Ville</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.city }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Code Postal</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.zip }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Pays</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.country }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Téléphone</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.phone }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Email</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.email }}</dd>
            </div>

            <div>
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Verifier</dt>
                <dd class="text-sm text-gray-900 dark:text-white">{{ company.isVerified() ? 'Oui' : 'Non' }}</dd>
            </div>
        </dl>
        

        <div class="mt-6 flex justify-between">
            <a href="{{ path('app_company_index') }}" 
                class="text-sm font-medium text-blue-700 hover:underline dark:text-blue-500">
                Retour à la liste
            </a>
            <a href="{{ path('app_company_edit', {'id': company.id}) }}" 
                class="text-sm font-medium text-blue-700 hover:underline dark:text-blue-500">
                Modifier
            </a>
        </div>

        <div class="mt-4">
            {{ include('company/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}