<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link href="{{ asset('tailwind/css/tailwind.min.css') }}" rel="stylesheet">
			<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
		{% endblock %}

	</head>
	<body>


		<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
			<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
				<a href="{{ path('app_index') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
					<img src="{{ asset('images/logo_stage-direct.png') }}" class="h-8" alt="StageDirect"/>
					<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">StageDirect</span>
				</a>

				<div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">
					<ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
						<li>
							<a href="{{ path('app_index') }}" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Accueil</a>
						</li>

						{% if is_granted('ROLE_STUDENT') %}
						{% if app.user.isVerified %}
							<li>
								<button id="dropdownEntrepriseLink" data-dropdown-toggle="dropdownEntreprise" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Entreprise
									<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<!-- Dropdown menu -->
								<div id="dropdownEntreprise" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
									<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
										<li>
											<a href="{{ path('app_company_index') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Liste des entreprises</a>
										</li>
										<li>
											<a href="{{ path('app_company_new') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ajouter une entreprise</a>
										</li>
										<li>
											<a href="{{ path('company_pending') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Voir les stages en attente</a>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<button id="dropdownStageLink" data-dropdown-toggle="dropdownStage" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Stage
									<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<!-- Dropdown menu -->
								<div id="dropdownStage" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
									<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
										<li>
											<a href="{{ path('app_internship_index') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Liste des stages</a>
										</li>
										<li>
											<a href="{{ path('app_internship_new') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ajouter un stage</a>
										</li>
										<li>
											<a href="{{ path('internship_pending') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Voir les stages en attente</a>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<button id="dropdownRapportLink" data-dropdown-toggle="dropdownRapport" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Liste des activités
									<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<!-- Dropdown menu -->
								<div id="dropdownRapport" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
									<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
										<li>
											<a href="{{ path('app_activity_list_index') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Liste des activité</a>
										</li>
										<li>
											<a href="{{ path('app_activity_list_new') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ajouter un activité</a>
										</li>
									</ul>
								</div>
							</li>
						{% endif %}
						{% endif %}

						{% if is_granted('ROLE_ADMIN') %}
						{% if app.user.isVerified %}
							<li>
								<button id="dropdownAdminLink" data-dropdown-toggle="dropdownAdmin" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Administration
									<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<!-- Dropdown menu -->
								<div id="dropdownAdmin" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
									<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
										<li>
											<a href="{{ path('app_user_index') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gérer les roles</a>
										</li>

										<hr>

										<li>
											<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Entreprise en attente</a>
										</li>

										<li>
											<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Stage en attente</a>
										</li>

										<hr>

										<li class="flex justify-center space-x-2">
											<button id="dropdownEcoleLink" data-dropdown-toggle="dropdownEcole" class="px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ecole
												<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
												</svg>
											</button>

											<button id="dropdownClasseLink" data-dropdown-toggle="dropdownClasse" class="px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Classe
												<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
												</svg>
											</button>

											<!-- Dropdown menu -->
											<div id="dropdownEcole" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
												<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
													<li>
														<a href="{{ path('app_school_index') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Liste des écoles</a>
													</li>
													<li>
														<a href="{{ path('app_school_new') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ajouter une école</a>
													</li>
												</ul>
											</div>

											<!-- Dropdown menu -->
											<div id="dropdownClasse" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
												<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
													<li>
														<a href="{{ path('app_grade_index') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Liste des classe</a>
													</li>
													<li>
														<a href="{{ path('app_grade_new') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ajouter une classe</a>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</li>
						{% endif %}
						{% endif %}

						<li>
							<a href="/contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
						</li>

						<li>
							<button id="dropdownUserLink" data-dropdown-toggle="dropdownUser" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
								<img class="w-8 h-8 rounded-full" src="{{ asset('images/image_profil_1.png') }}" alt="user photo">
								<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
								</svg>
							</button>
							<!-- Dropdown menu -->
							<div id="dropdownUser" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
								<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
									{% if app.user %}
										<li class="px-4 py-2">
											<p align="center">
												<strong>{{ app.user.firstName }}</strong>
												<strong>{{ app.user.lastName }}</strong>
												<br>
												{# Tri et afficher le rôle le plus élevé
												<strong class="text-gray-500">Rôle :
													{% set roles = app.user.getRoles() %}
													{% set roleHierarchy = ['ROLE_ADMIN', 'ROLE_MODERATOR', 'ROLE_USER'] %}
													{% set highestRole = null %}

													{% for role in roleHierarchy %}
														{% if role in roles and highestRole is null %}
															{% set highestRole = role %}
														{% endif %}
													{% endfor %}

													Affichage du rôle le plus élevé trouvé sans le préfixe "ROLE_"
													{% if highestRole %}
														{{ highestRole|slice(5) }}
														Utilisation de slice pour enlever "ROLE_"
													{% endif %} #}
												</p>
											</p>
										</li>
									</strong>
								</p>
								<br>
								<hr></li>
						</li>
						<li>
							<a href="{{ path('app_logout') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Se déconnecter</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_register') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Créer un compte</a>
						</li>
						<li>
							<a href="{{ path('app_login') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Se connecter</a>
						</li>
					{% endif %}
				</ul>
			</div>

		</li>
	</body>
</html></div><div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
<ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
</ul>
</div>
</ul>
</div>
</nav>
{% if app.user %}
{% if not app.user.isVerified %}
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 my-4 rounded-lg max-w-3xl mx-auto">
    <p class="font-semibold ">Vous n'avez pas vérifié votre email !</p>
    <p>Veuillez consulter votre boîte mail et vérifier votre adresse.</p>
</div>

{% endif %}
{% endif %}


{% block body %}{% endblock %}{% block javascripts %}<script src="{{ asset('tailwind/js/tailwind.js') }}"></script><script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script><script src="/tailwind/js/tailwind.js"></script>{# {% block importmap %}{{ importmap('app') }}{% endblock %} #}{% endblock %}</body></html>
